<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="users-list">USER LIST</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>email</th>
                <th>edit</th>
                <th>destroy</th>
            </tr>
        </thead>
        <tbody>
            <% for(let user of data) { %>
                <tr>
                    <td><%= user[0] %></td>
                    <td><%= user[1] %></td>
                    <td><%= user[2] %></td>
                    <td>
                        <form action="">
                            <button id="edit-btn" class="user-btn">edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="">
                            <button id="delete-btn" class="user-btn">delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <form class="create-user-form" action="">
        <button class="create-user-btn">create-user</button>
    </form>
</body>
</html>